body{
    padding: 15px;
}

ul{
    padding: 10px;
    margin: 0px;
}
ul li{
    cursor: pointer;
    list-style-type: none;
    padding: 3px;
    background-color: #92bfb5;
    margin: 3px;
    border-radius: 2px;
}

.panel_seleccionado{
    background-color: #7eebd2;
    border-color: #689d8c;
    border-style: solid;
    border-width: 1px;
}

.tested{
    display: inline-block;
    color: #85e659;
    padding-left: 20px;
    font-size: 1.4em;
}

#mini_form{
    width: 100%;
    margin-bottom: 20px;
}

#dos_cols{
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
}

#listado{
    padding: 0px;
    width: 20%;
    height: 100%;
    float: left;
    background-color: #ddf5f1;
}

#contenedor{
    width: 78%;
    height: 100%;
    float: right;
    background-color: #a8d6cd;
}

#consola{
    width: 100%;
    height: 160px;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}